/* TABLE OF CONTENTS
	1. Base
	2. Container
	3. Columns
	4. Preloader
	5. Typography
	6. Forms
	7. Alignments
	8. Animations
*/

/*
	1. Basic
*/

html {
	margin-right: 0!important;
}

body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Eczar;
	font-size: 0.875rem;
	color: #626262;
	letter-spacing: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
   	background: url("../images/bg.png") #d8dbe2 !important;
}

.page {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

@media (width <= 1023px) {
	.page {
		overflow: visible;
	}

}

* {
	box-sizing: border-box;
}

/*
	2. Container
*/
.container {
	margin: -300px 0 0 -240px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 600px;
	transform: translateX(0);
	transition: all 0.4s ease 0s;
}

.container.opened {
	transform: translateX(-240px);
}

@media (width <= 1072px) {
	.container {
		margin: -300px 0 0 -220px;
		width: 440px;
	}

	.container.opened {
		transform: translateX(-204px);
	}

}

@media (width <= 1023px) {
	.container {
		margin: 0 auto;
		position: relative;
		top: 83px;
		left: 0;
		width: auto;
		max-width: 540px;
		height: auto;
		transform: none;
	}

	.container.opened {
		transform: none;
	}

}

@media (width <= 560px) {
	.container {
		margin: 0 5px;
		top: 78px;
		width: auto;
		max-width: 100%;
	}

}

.background {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  	background: url("../images/bg.png") !important;
}



/*
	3. Columns
*/
.row {
	margin: 0 -20px;
	position: relative;
	font-size: 0;
}

.row .col {
	padding: 20px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 0.875rem;
}

.row .col .col {
	padding-top: 0;
	padding-bottom: 20px;
}

@media (width >= 1024px) {
	.row .col.col-d-12 {
		width: 99.996%;
	}

	.row .col.col-d-11 {
		width: 91.663%;
	}

	.row .col.col-d-10 {
		width: 83.333%;
	}

	.row .col.col-d-9 {
		width: 74.997%;
	}

	.row .col.col-d-8 {
		width: 66.664%;
	}

	.row .col.col-d-7 {
		width: 58.331%;
	}

	.row .col.col-d-6 {
		width: 49.998%;
	}

	.row .col.col-d-5 {
		width: 41.665%;
	}

	.row .col.col-d-4 {
		width: 33.332%;
	}

	.row .col.col-d-3 {
		width: 24.999%;
	}

	.row .col.col-d-2 {
		width: 16.666%;
	}

	.row .col.col-d-1 {
		width: 8.333%;
	}

}

@media (width <= 1023px) {
	.row .col.col-t-12 {
		width: 99.996%;
	}

	.row .col.col-t-11 {
		width: 91.663%;
	}

	.row .col.col-t-10 {
		width: 83.333%;
	}

	.row .col.col-t-9 {
		width: 74.997%;
	}

	.row .col.col-t-8 {
		width: 66.664%;
	}

	.row .col.col-t-7 {
		width: 58.331%;
	}

	.row .col.col-t-6 {
		width: 49.998%;
	}

	.row .col.col-t-5 {
		width: 41.665%;
	}

	.row .col.col-t-4 {
		width: 33.332%;
	}

	.row .col.col-t-3 {
		width: 24.999%;
	}

	.row .col.col-t-2 {
		width: 16.666%;
	}

	.row .col.col-t-1 {
		width: 8.333%;
	}

}

@media (width <= 560px) {
	.row .col.col-m-12 {
		width: 99.996%;
	}

	.row .col.col-m-11 {
		width: 91.663%;
	}

	.row .col.col-m-10 {
		width: 83.333%;
	}

	.row .col.col-m-9 {
		width: 74.997%;
	}

	.row .col.col-m-8 {
		width: 66.664%;
	}

	.row .col.col-m-7 {
		width: 58.331%;
	}

	.row .col.col-m-6 {
		width: 49.998%;
	}

	.row .col.col-m-5 {
		width: 41.665%;
	}

	.row .col.col-m-4 {
		width: 33.332%;
	}

	.row .col.col-m-3 {
		width: 24.999%;
	}

	.row .col.col-m-2 {
		width: 16.666%;
	}

	.row .col.col-m-1 {
		width: 8.333%;
	}

}

.row::after {
	content: '';
	display: block;
	clear: both;
}

.border-line-v::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: radial-gradient(top, ellipse farthest-corner, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
	background: radial-gradient(ellipse at top, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
}

.border-line-h::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: radial-gradient(left, ellipse farthest-corner, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
	background: radial-gradient(ellipse at left, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
}

/*
	4. Preloader
*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
	z-index: 1000;
}

.preloader .spinner {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #DA70D6;
	opacity: 1;
	animation: sk-bounce 2s infinite ease-in-out;
	border-radius: 50%;
}

.preloader .spinner .double-bounce2 {
	animation-delay: -1s;
	opacity: 0.1;
}

/*
	5. Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 5px;
	font-family: Poppins;
	color: #36454f;
	line-height: 33px;
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 0.875rem;
	line-height: 1.6;
	padding: 0;
	margin: 0 0 20px;
}

p > span {
  color: #DE3163;
  font-weight: 600;
  text-decoration: underline;
}

strong {
	font-weight: 500;
}

/* links, buttons */
.lnks {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 10;
}

.lnks::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: radial-gradient(left, ellipse farthest-corner, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
	background: radial-gradient(ellipse at left, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
}

.lnk,
.button {
	position: relative;
	float: left;
	width: 50%;
	height: 70px;
	line-height: 70px;
	font-size: 0.75rem;
	color: #36454f;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}

.lnk::before,
.button::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: radial-gradient(top, ellipse farthest-corner, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
	background: radial-gradient(ellipse at top, rgb(197 202 213 / 70%) 0%, rgb(255 255 255 / 0%) 70%);
}

.lnk .ion,
.button .ion,
.lnk .arrow,
.button .arrow {
	margin: 0 0 0 8px;
	position: relative;
	top: -2px;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.125rem;
	transition: all 0.3s ease 0s;
}

.lnk .arrow,
.button .arrow {
	top: -1px;
	width: 14px;
	height: 2px;
}

.lnk .arrow::before,
.button .arrow::before,
.lnk .arrow::after,
.button .arrow::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #36454f;
	transition: all 0.3s ease 0s;
}

.lnk .arrow::after,
.button .arrow::after {
	inset: auto 0 3px auto;
	width: 8px;
	height: 2px;
	transform: rotate(45deg);
}

.lnk .text,
.button .text {
	transition: all 0.3s ease 0s;
}

.lnk:last-child::before,
.button:last-child::before {
	display: none;
}

.lnk:hover,
.button:hover {
	color: #DA70D6;
}

.lnk:hover .ion,
.button:hover .ion {
	color: #DA70D6;
}

.lnk:hover .arrow::before,
.button:hover .arrow::before,
.lnk:hover .arrow::after,
.button:hover .arrow::after {
	background: #DA70D6;
}

.button {
	display: inline-block;
	float: none;
	width: auto;
}

a {
	color: #626262;
	text-decoration: none;
	opacity: 1;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #DA70D6;
}

/* lists */
ol,
ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	margin-bottom: 0;
}

/* code */
code {
	background: #d8dbe2;
	font-size: 16px;
	font-family: Poppins;
	margin: 20px 0;
	padding: 10px 20px;
}

/* tables */
table {
	width: 100%;
	margin: 30px 0;
	padding: 0;
	border-collapse: collapse;
}

th {
	font-weight: 500;
	border: none;
	border-bottom: 1px solid #d8dbe2;
	color: #36454f;
	padding: 12px 15px;
	text-align: left;
}

td {
	border: none;
	border-bottom: 1px solid #d8dbe2;
	padding: 12px 15px;
	text-align: left;
	color: #626262;
}

/* blockquote */
blockquote {
	font-family: Poppins;
}

/*
	6. Forms
*/
input,
textarea,
button {
	margin: 0;
	padding: 0;
	display: block;
	font-family: Poppins;
	font-size: 0.813rem;
	width: 100%;
	height: 60px;
	color: #36454f;
	background: none;
	border: none;
	border-bottom: 1px solid #d8dbe2;
	appearance: none;
	resize: none;
	outline: 0;
	transition: all 0.3s ease 0s;
	border-radius: 0;
}

input:focus,
textarea:focus,
button:focus {
	color: #36454f;
	border-bottom: 1px solid #DA70D6;
}

textarea {
	padding: 15px 0;
	height: 80px;
}

button {
	width: auto;
	display: inline-block;
	vertical-align: top;
	color: #36454f;
	border-bottom: 1px solid #d8dbe2;
	text-align: left;
	cursor: pointer;
}

button:hover {
	border-bottom: 1px solid #DA70D6;
}

label,
legend {
	display: block;
	padding-bottom: 10px;
	font-family: Poppins;
	font-size: 0.875rem;
}

fieldset {
	border-width: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

::input-placeholder {
	color: #999;
}

:placeholder {
	color: #999;
}

::placeholder {
	color: #999;
}

:input-placeholder {
	color: #999;
}

input:focus::input-placeholder,
textarea:focus::input-placeholder {
	color: #36454f;
}

input:focus:placeholder,
textarea:focus:placeholder {
	color: #36454f;
}

input:focus::placeholder,
textarea:focus::placeholder {
	color: #36454f;
}

input:focus:input-placeholder,
textarea:focus:input-placeholder {
	color: #36454f;
}

input.error,
textarea.error {
	border-bottom: 1px solid #f00 !important;
}

label.error {
	display: none!important;
}

input.error::placeholder,
textarea.error::placeholder {
	color: #f00;
}

input.error:placeholder,
textarea.error:placeholder {
	color: #f00;
}

input.error:input-placeholder,
textarea.error:input-placeholder {
	color: #f00;
}

input.error::input-placeholder,
textarea.error::input-placeholder {
	color: #f00;
}

/*
	7. Alignments
*/
.align-center {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.pull-none {
	float: none !important;
}

/* width */
.full-width {
	max-width: 100% !important;
	width: 100% !important;
}

.full-max-width {
	max-width: 100% !important;
	width: auto !important;
}

/* vertical align */
.centralize {
	display: table !important;
	table-layout: fixed !important;
	height: 100% !important;
	position: relative !important;
}

.vertical-center {
	display: table-cell !important;
	vertical-align: middle !important;
}

.vertical-top {
	display: table-cell !important;
	vertical-align: top !important;
}

.vertical-bottom {
	display: table-cell !important;
	vertical-align: bottom !important;
}

/* text formatting */
.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-regular {
	font-weight: 400 !important;
}

.text-bold {
	font-weight: 700 !important;
}

.text-italic {
	font-style: italic !important;
}

/* clearing */
.clear {
	clear: both;
}

/*
	8. Animations
*/

/* flip cards */
.FlipIn {
	backface-visibility: visible !important;
	animation-duration: 0.7s !important;
	animation-name: FlipIn;
}

@keyframes FlipIn {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
	}

}

@keyframes FlipIn {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
	}

}

.FlipOut {
	animation-duration: 0.7s !important;
	backface-visibility: visible !important;
	animation-name: FlipOut;
}

@keyframes FlipOut {
	0% {
		transform: perspective(400px);
	}

	30% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		opacity: 1;
	}

	100% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity: 0;
	}

}

@keyframes FlipOut {
	0% {
		transform: perspective(400px);
	}

	30% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		opacity: 1;
	}

	100% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity: 0;
	}

}

/* preloader */
@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}

}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}

}
