/*
	1. Gradient
*/


.background.gradient {
  background: #50a3a2;
  background: linear-gradient(to left top, #50a3a2 0%, #DA70D6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #DA70D6 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgb(255 255 255 / 10%);
  bottom: -320px;
  animation: square 50s infinite;
  transition-timing-function: linear;
	border-radius: 4px;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 160px;
  height: 160px;
          animation-delay: 2s;
          animation-duration: 34s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
          animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 120px;
  height: 120px;
          animation-duration: 44s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 240px;
  height: 240px;
          animation-delay: 3s;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 320px;
  height: 320px;
          animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
          animation-delay: 15s;
          animation-duration: 80s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 20px;
  height: 20px;
          animation-delay: 2s;
          animation-duration: 80s;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 320px;
  height: 320px;
          animation-delay: 22s;
}

@keyframes square {
  0% {
            transform: translateY(0);
  }

  100% {
            transform: translateY(-1500px) rotate(600deg);
  }
}

@keyframes square {
  0% {
            transform: translateY(0);
  }

  100% {
            transform: translateY(-1500px) rotate(600deg);
  }
}
