@import url("swiper/css");
@import url("swiper/css/navigation");
@import url("swiper/css/pagination");
@import url("swiper/css/scrollbar");

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 6px;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;

  /* max-height: 392px; */
  width: 100%;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mfp-img-container .mfp-content {
  max-width: 400px !important;
}

.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

/* .mfp-content {
  height: 100%;
} */
.mfp-bottom-bar {
  top: unset;
  bottom: 14px;
  right: 0;
}

.mfp-wrap {
  position: unset;
}

.content_popup_warp.mfp-wrap.popup-box-inline {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}